In this project we scrape the NASA Mars News Site: https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest

In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import splinter

import pandas as pd

## In this section we scrape the NASA Mars news site.

In [2]:
nasa_news_site = requests.get("https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest")
nasa_news_site

In [3]:
nasa_news_site_soup = bs(nasa_news_site.text, "html.parser")

In [4]:
nasa_news_article_titles_html = nasa_news_site_soup.find_all("div", class_="content_title")
nasa_news_article_paragraphs_html = nasa_news_site_soup.find_all("div", class_="'article_teaser_body")

In [5]:
nasa_news_article_paragraphs_html

[]

In [6]:
nasa_news_article_titles_html

[<div class="content_title">
 <a href="/news/8387/nasa-announces-landing-site-for-mars-2020-rover/">
 NASA Announces Landing Site for Mars 2020 Rover
 </a>
 </div>, <div class="content_title">
 <a href="/news/8348/opportunity-hunkers-down-during-dust-storm/">
 Opportunity Hunkers Down During Dust Storm
 </a>
 </div>, <div class="content_title">
 <a href="/news/8347/nasa-finds-ancient-organic-material-mysterious-methane-on-mars/">
 NASA Finds Ancient Organic Material, Mysterious Methane on Mars
 </a>
 </div>, <div class="content_title">
 <a href="/news/8326/nasa-invests-in-visionary-technology/">
 NASA Invests in Visionary Technology
 </a>
 </div>, <div class="content_title">
 <a href="/news/8325/nasa-is-ready-to-study-the-heart-of-mars/">
 NASA is Ready to Study the Heart of Mars
 </a>
 </div>, <div class="content_title">
 <a href="/news/8322/nasa-briefing-on-first-mission-to-study-mars-interior/">
 NASA Briefing on First Mission to Study Mars Interior
 </a>
 </div>]

In [7]:
nasa_news_article_paragraphs_html

[]

In [8]:
nasa_news_article_titles = []

In [9]:
for nasa_news_article_title in nasa_news_article_titles_html:
    try:
        nasa_news_article_titles.append(nasa_news_article_title.find("a").text.strip())
        
    except:
        print("Error")

In [10]:
nasa_news_article_titles

['NASA Announces Landing Site for Mars 2020 Rover',
 'Opportunity Hunkers Down During Dust Storm',
 'NASA Finds Ancient Organic Material, Mysterious Methane on Mars',
 'NASA Invests in Visionary Technology',
 'NASA is Ready to Study the Heart of Mars',
 'NASA Briefing on First Mission to Study Mars Interior']

## In this section we scrape tweets from the @MarsWxReport Twitter account: https://twitter.com/marswxreport?lang=en

In [11]:
mars_twitter_page = requests.get("https://twitter.com/marswxreport?lang=en")
mars_twitter_page

In [12]:
mars_twitter_page_soup = bs(mars_twitter_page.text, "html.parser")

In [13]:
mars_twitter_page_latest_tweet = mars_twitter_page_soup.find("p", class_="TweetTextSize").text
mars_twitter_page_latest_tweet

'Sol 2234 (2018-11-18), high 2C/35F, low -70C/-93F, pressure at 8.57 hPa, daylight 06:25-18:41'

## In this section we use pandas to directly scrape data from the Mars Facts website: https://space-facts.com/mars/

In [15]:
mars_space_facts_url = "https://space-facts.com/mars/"

In [16]:
mars_space_facts_tables = pd.read_html(mars_space_facts_url)

In [17]:
mars_space_facts_tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [18]:
type(mars_space_facts_tables)

list

In [19]:
len(mars_space_facts_tables)

1

In [20]:
mars_space_facts_tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
mars_space_facts_html_table_string = mars_space_facts_tables[0].to_html()

In [25]:
mars_space_facts_html_table_string

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 Â°C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'